.list {
    flex: 1;
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    height: calc(100% - 2rem);
}

/* :root {
    --lightgrey: #F5F6FA;
    --darkGrey: #B9BCC3;
    --primaryBlue: #2680EB;
    --secondGrey: #F1F2F7;
} */